---
import BaseLayout from "../layouts/BaseLayout.astro";
import Section from "../components/Section.astro";
import Blogpost from "../components/Blogpost.astro"
const allPosts = await Astro.glob('./posts/*.md');
const allPostsByDate = allPosts.sort((a, b) => {
  return a.frontmatter.pubDate < b.frontmatter.pubDate ? 1 : -1;
});
---
<BaseLayout pageTitle="Blog">
  <h2 class="text-6xl" transition:animate="slide" transition:name="maintitle">My Astro Learning Blog</h2>
    <Section>
        <p>This is where I will post about my journey learning Astro.</p>
        <ul class="mt-4 flex flex-col gap-2">
            { allPostsByDate.map( post => <li>
              <Blogpost
                title={post.frontmatter.title}
                url={post.url} date={post.frontmatter.date}
                desc={post.frontmatter.description}
                image={post.frontmatter.image.url}
                alt={post.frontmatter.image.alt}
                date={post.frontmatter.pubDate}
                tags={post.frontmatter.tags}
                />
            </li>)
             }
        </ul>
    </Section>
</BaseLayout>
